<div class="crud ">
  <div class="container ">
    <h1 class="mt-5"><a [routerLink] = "['/users']" >Users</a></h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
          </div>
      </div>
      <br><br>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button type="button" class="btn btn-primary float-right"><a [routerLink] = "['/create']">Create User</a></button>
      </div>
    </div>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Phone</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.phone}}</td>
            <td>
              <a [routerLink] = "['/edit']">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
            </td>
            <td>
              <a href="#" data-toggle="modal" data-target="#popDelete" >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </td>
           </tr>
           
        </tbody>
    </table>
  </div>

  <!-- The Modal for delete user -->
  <div class="modal" id="popDelete">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            Are you delete this user ?
          </div>
    
          <!--  Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          </div>
    
        </div>
      </div>
  </div>

</div>
<router-outlet></router-outlet>