.crud .container{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    height: 500px;
}
.crud button a{
    text-decoration: none;
    color: #fff;
}
.crud h1{
    padding-top: 16px;
    padding-bottom: 30px;
}


@media (max-width: 575.98px){
    .crud{padding-bottom: 100px;}
    .container{padding-bottom: 50px;}
    button{
        float: left !important;
        margin-bottom: 40px;
    }
    .table td, .table th {font-size: 11px;}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .crud{padding-bottom: 100px;}
    .container{padding-bottom: 50px;}
    button{
        float: left !important;
        margin-bottom: 40px;
    }
    .table td, .table th {font-size: 11px;}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .crud{padding-bottom: 100px;}
    .container{padding-bottom: 50px;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .crud{padding-bottom: 100px;}
    .container{padding-bottom: 50px;}
}